
#body{
  font-family: "Montserrat";
}
#title{
  background-color: #ff4c68;

}

#container-fluid{
   padding: 3% 15% 10%;
}
p{
  color: #8f8f8f;
}
/*navigation bar */

#nav{
  padding-bottom: 4.5rem;
}

#navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-item{
  padding: 0 18px;
}
.nav-link{
  font-size: 1.2rem;
  font-family: 'Montserrat-light', sans-serif;
}

/*  Title  */

.h1-heading{
 line-height:1.5;
 font-size: 2.5rem;
 color: white;
 font-weight: bold;
}


/* dowload  buttons */
.dowload-btn{
  margin: 10% 2% 1% 0% ;
}



/* images */
.iphone-image{
  height: 80%;
  margin-left:5rem;
  transform: rotate(24deg);
  position: absolute;

}
@media (max-width:990px) {
    #title{
      text-align: center;
    }
   .iphone-image{
     position: static;
     transform: rotate(0);
     margin: 10% 0 0;
   }

}

/*features section*/

.h3-features{
  font-size: 1.4em;
  font-weight: bold;
}
.features-box{
  padding: 15% 10%;

}

#features{
  padding-left: 12.5%;
  padding-right:12.5%;
  text-align: center;
  background-color: white;
  position: relative;
}


.icon{
  color:#ef8172;
  margin-bottom: 1rem;
}
.icon:hover{
  color:#ff4c68;
}
/* Testimonials section */

#testimonials{

  text-align: center;
  background-color: #ff4c68;
  color: #fff;
}
.h2-testimonials{
  font-family: "Montserrat";
  line-height: 1.5;
  font-size: 2.9rem;
  font-weight: bold;
}
.testimonials-image{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}



/* press section */


#press{
  background-color: #ff4c68;
  text-align: center;
}
.press-images{
  width: 15%;
  margin: 20px 20px 50px;
}
.carousel-item{
  padding: 7% 15%;
}

/* Pricing section */

.pricing-text{
  font-weight: bold;
}

#pricing{
  padding: 100px;
  text-align: center;

}
.pricing-col{

  padding: 3% 2%;
}


/* call of action */

.last-div{
  background-color: #ff4c68;
  text-align:center;
  padding: 8% 0 ;
}
.h3-1{
  color: white;
  font-size: 2.8rem;
  font-weight: bold;
  padding-left: 2rem;
  padding-right: 2rem;
  line-height: 1.5;
}

.last-btn{
  margin:  4% 1% ;
}

#btn-2:hover{
  background-color:#ff4c68;
}

/* Footer */
#footer{
  text-align: center;
  padding-top:7% ;
}
